.fixed-top { background: #563d7c }
#myCarousel { margin-bottom: 4rem }
#myCarousel .carousel-inner > .carousel-item > .item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}
#myCarousel .carousel-item {
    height: 500px;
    width: 100%;
}
.carousel-item,
.carousel-item.active {
  -webkit-transition-timing-function: cubic-bezier(.45,.18,0,1);
  transition-timing-function: cubic-bezier(.45,.18,0,1);
}
@media (min-width: 768px) {
  .carousel h1 {
      letter-spacing: -3px;
      font-size: 56px;
      font-weight: bold;
  }
}
.dropright .dropdown-menu,
.dropleft .dropdown-menu {
  top: -1px;
}

@media (max-width: 575px) {
  #myCarousel .container {
    width: 100%;
  }
  .hidden-xs {display: none !important}
}

h2 {
  letter-spacing: -3px;
  font-size: 56px;
  font-weight: bold;
}

h3:not(.popover-header) {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -2px;
}

.bg-bootstrap { background-color: #563d7c }
.bg-pink { background-color: #E91E63 }
.bg-indigo { background-color: #9c27b0 }

/* SVG icons */
.nav svg {vertical-align: text-top;}